.devices {
  margin: 186px auto 0 auto;
  width: 311px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // tablet
  @media (min-width: 768px) {
    width: 600px;
  }
  //desktop
  @media (min-width: 1024px) {
    margin-top: 150px;
    width: 730px;
  }

  .text {
    margin-top: 16px;
    //desktop
    @media (min-width: 1024px) {
      margin-top: 19px;
      font-size: 1.8rem !important;
    }
  }

  img {
    width: 311px;
    height: 182px;
    margin-top: 64px;
    //desktop
    @media (min-width: 1024px) {
      width: 905px;
      height: 575px;
      margin-top: 100px;
    }
  }
}