.footer {
  padding: 52px 0;
  background: rgba(158, 171, 178, .1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // desktop xl
  @media (min-width: 1440px) {
    padding: 39px 0;
    flex-direction: row;
  }

  &__img {
    width: 55px;
    height: 55px;
  }

  &__list {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    // desktop xl
    @media (min-width: 1440px) {
      margin: 0 0 0 135px;
      gap: 12px;
      height: 72px;
      flex-wrap: wrap;
    }

    a {
      text-align: center;
      color: #4c545c;
      text-decoration: none;
      font-size: 1.8rem;
      line-height: 3rem;
      letter-spacing: 0.135px;
      // desktop xl
      @media (min-width: 1440px) {
        text-align: start;
        width: 160px;
        margin-right: 30px;
      }
      &:hover {
        color: #26bba4;
        transform: scale(1.1);
        transition: .4s;
      }
      
    }
  }

  &__social {
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    cursor: pointer;
    // desktop xl
    @media (min-width: 1440px) {
      margin: 0 0 0 610px;
      gap: 24px;
    }

    img:hover {
      filter: invert(0.4) sepia(1) saturate(4.9) hue-rotate(133.2deg) brightness(1);
      transform: scale(1.1);
      transition: .4s;
    }
  }
}