.snippets__card {
  h3 {
    @media (min-width: 1440px) {
      text-align: start;
    }
  }

  p {
    margin-top: 10px;
    @media (min-width: 1440px) {
      margin-top: 8px;
      text-align: start;
      width: 350px;
      font-size: 1.6rem;
      letter-spacing: 0.12px;
    }
  }
}